/* Nova Field CSS */
.obrazok svg{
    height: 23px !important;
    filter: invert(100%);
    color:white;
    padding-top:2px ;
}

.obrazok {
    display: inline-flex;
    position: relative;
    top:7px;
    margin-right:20px;
}
