/* Nova Field CSS */
.status-icon svg{
    height: 21px !important;
    color:white;
    padding-top:2px ;
}

.status-icon-container{
    padding: 6px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-height: 32px;
}

.status-icon {
    display: inline-flex;
    position: relative;
    margin-right:15px;
}
